#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body, img, div {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  /*font-family: sans-serif;*/
  font-style: italic;
  max-width: 100%;
}

#debug {
  display: none;
  text-align: right;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.77)
}

section {
  position: relative;
}

/*noinspection CssReplaceWithShorthandSafely*/
#s2 {
  background: url("./assets/img/bg1.jpg") center bottom;
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin: .3rem;
  width: 100%;
}

.hidden {
  display: none;
}

#s_title {
  background: url('./assets/img/l0_bg.jpg') center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#titleBg {
  position: fixed;
  left: 0;
  top: 0;
}

#l0Title {
  width: 90vmin;
  min-width: 35rem;
  top: 20vh;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#l0Title {
  /*-webkit-transition: transform 1s ease;*/
  /*transition: transform 1s;*/
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#l0Title:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
}

.arrow {
  position: absolute;
  bottom: 30%;
  left: 47%;
}

.arrow span {
  display: block;
  width: 15vmin;
  max-width: 5rem;
  height: 15vmin;
  max-height: 5rem;
  border-bottom: 2vmin solid red;
  border-right: 2vmin solid red;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -2rem;
  -webkit-animation: arrows 2s infinite;
  animation: arrows 2s infinite;
  border-radius: 1vmin;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes arrows {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-.5vh, -.5vh);
  }
  50%{
    opacity:.75;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(1rem, 1rem);
  }
}

#l0Left, #l0Right {
  position: absolute;
  bottom: -35vh;
  opacity: .9;
}

#l0Left {
  height: 40%;
  left: 0;
}

#l0Right {
  width: 150vh;
  max-width: 70rem;
  right: 0;
}

/*noinspection CssReplaceWithShorthandSafely*/
#sky_bg {
  background: url('./assets/img/bg0.jpg') center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 -1vh 20vh 0 black;
}

#s_text {
  color: white;
}

#planks {
  width: 100%;
}

#s_text a {
  position: absolute;
  left: 39%;
  top: 38%;
  width: 22%;
  max-width: 434px;
  border-radius: 50%;
}

#s_text a img {
  width: 100%;
  border-radius: 50%;
}

.tb {
  position: absolute;
  /*outline: 1px solid;*/
  font-size: 1.75vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  text-shadow: 0 0 0.4rem black;
}

#tb0 {
  top: 0;
  height: 35%;
  /*padding: 0 15vw;*/
}

#tb1 {
  bottom: 0;
  height: 25%;
}

#s_belt {
  background-color: #008affb0;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: .5rem;
  padding: 2rem 0;
  box-shadow:
    inset 40px 0 200px -50px white,
    inset -40px 0 200px -50px white
}

#pglink {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#pglink:hover {
  box-shadow:
  	inset 0 0 2rem 1rem rgba(255, 255, 255, 0.66),
  	0 0 3rem 1rem rgba(255, 255, 255, 0.66);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#phPlace {
  text-decoration: none;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#phPlace:not(.disabled):hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#phPlace {
  display: flex;
  width: 12.75rem;
  height: 15rem;
  background-color: #efefef;
  border: 2px solid gray;
  border-radius: 2%;
  box-shadow:
      0 -20px 40px -10px rgba(0, 0, 0, 0.42),
      0 30px 40px -20px rgba(0, 0, 0, 0.61),
      -25px 0 70px 0 rgba(255, 255, 255, 0.84),
      25px 0 70px 0 rgba(255, 255, 255, 0.84);
  color: #6b6b6b;
  flex-direction: column;
  justify-content: center;
  font-size: 18pt;
  font-style: normal;
  cursor: pointer;
}

#phPlace.disabled {
  cursor: unset;
}

#phPlace #photoImg {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

#s_form {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

#s_form form {
  width: 75%;
  min-width: 20rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  color: #7d7d7d;
}

#f_container {
  background-color: rgba(242, 240, 241, 0.5);
  padding-bottom: 1rem;
  border: 1px solid #5d5b5b;
  border-radius: .3rem;
}

#f_container.disabled {
  background-color: rgba(242, 240, 241, 0.8);
  opacity: 0.75;
}

textarea {
  display: inline-block;
  resize: vertical;
  min-height: 1.5rem;
}

label {
  position:relative;
}

/*noinspection ALL*/
label span {
  width: max-content;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-style: italic;
  padding: 0 1rem;
  pointer-events: none;
  position:absolute;
  left:0;
  top:-0.2rem;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
}

label.textarea {
  display: block;
}

/*noinspection ALL*/
label.textarea span {
  left: 8%;
  top: 1.3rem;
}

.field:focus + span, .field:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-175%) translateX(-1rem);
}

 /*For IE Browsers*/
.field:focus + span, .field:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-175%) translateX(-2rem);
}

#f_container input, #f_container textarea {
  padding: .5rem;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-style: italic;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
  background-color: #dcdcdc69;
  margin: .75rem 0;
}

#f_container input:enabled:hover, #f_container textarea:enabled:hover {
  background: none;
}

#chBox {
  margin-top: 1rem;
  font-size: 1rem;
}

#chBox input {
  max-width: 1rem;
}

.cpt {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}

#submitControl {
  margin: 1rem;
}

button {
  background-color: #3890d6;
  color: white;
  font-size: 22pt;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 1.2rem;
  width: 100%;
  height: 4.5rem;

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:disabled {
  background-color: #d3d3d6;
  color: #7d7d7d;
  cursor: unset;
}

button:hover:enabled {
  box-shadow: 0 0 6rem 1rem rgba(108, 177, 255, 0.5);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#crt {
  height: 10vh;
}

#crt, #crt * {
  /*outline: 1px solid blue;*/
}

#crt {
  padding: 13rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#crt a {
  width: 100%;
  text-decoration: none;
  font-style: normal;
  color: black;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#crt a:hover {
  color: darkgreen;
}

#crt a:hover img {
  -webkit-filter: unset;
  filter: unset;
}

#crt img {
  margin: .5rem 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) opacity(40%);
  transition: all 0.4s ease-in-out;
}

#crt .txt {
  font-style: normal;
  font-size: 1.3rem;
  padding: 1.3rem;
}

.snlinks {
  font-size: 2rem;
  font-style: normal;
  width: 50%;
  margin: 1rem;
  color: #636363;
}

.snlinks div {
  display: inline-block;
  white-space: nowrap;
}

.snlinks img {
  vertical-align: middle;
}

@media only screen and (max-height: 400px) {
  #l0Left, #l0Right {
    display: none;
  }

  #l0Title {
    top: 10vh !important;
  }
}

@media only screen and (max-width: 600px) {
  #s_title {
    background-attachment: scroll;
    height: 100vh;
  }

  #l0Title {
    width: 95%;
    min-width: 95%;
  }

  #l0Left {
    height: 25%;
  }

  #planks {
    display: none;
  }

  #sky_bg {
    background: none;
  }

  #s_text {
    background: url("./assets/img/greenfield.jpg") no-repeat center center;
    background-size: cover;
    padding: 1rem 2rem;
  }

  #s_text a {
    position: relative;
    width: 40% !important;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: inline-block;
  }

  #s_text a img:hover {
    box-shadow: none;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }

  .tb {
    position: relative;
    font-size: 1rem;
  }

  #tb0, #tb1 {
    top: unset;
    bottom: unset;
    height: unset;
    text-align: left;
    padding: 0;
  }

  #s_belt {
    box-shadow: none;
    margin-top: 0;
  }

  form {
    width: 100% !important;
    max-width: unset !important;
  }

  #f_container {
    border: none;
  }

}
